﻿ <table align="center" width="950" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="63" height="61">&nbsp;</td>
    <td width="124"><img src="/images/indexImage/buy_03.gif" width="124" height="61" alt="" /></td>
    <td width="763">&nbsp;</td>
  </tr>
  <tr>
    <td height="92"><img src="/images/indexImage/buy_06.gif" width="63" height="92" alt="" /></td>
    <td><img src="/images/indexImage/buy_07.gif" width="124" height="92" alt="" /></td>
    <td><img src="/images/indexImage/buy1_08.gif" alt="" width="763" height="92" border="0" usemap="#Map" /></td>
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="2,60,86,76" href="#" />
</map>

<table align="center" width="950" height="10" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="20" height="60" bgcolor="#F8F5EF">&nbsp;</td>
    <td bgcolor="#F8F5EF" class="wordStyle14">您已经选购了如下商品</td>
  </tr>
  <tr>
    <td height="18">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<table align="center" width="950" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="18"><strong>请确认您的订单</strong></td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr class="word_Red">
        <td width="25%" height="29" align="center" background="/images/indexImage/buy_14.gif">商 品 </td>
        <td width="15%" align="center" background="/images/indexImage/buy_14.gif">现 价</td>
        <td width="15%" align="center" background="/images/indexImage/buy_14.gif">原 价</td>
        <td width="15%" align="center" background="/images/indexImage/buy_14.gif">数 量</td>
        <td width="15%" align="center" background="/images/indexImage/buy_14.gif">价格</td>
        <td width="15%" align="center" background="/images/indexImage/buy_14.gif">操 作</td>
      </tr>
      <%if @ware_shop!=nil then %>
        <% @ware_shop.each do |key,value|%>
          <tr>
            <td height="25" align="center"><img class="photo_rim1" src="/images/goodsImage/<%= @allwares.find_by_wname(key).wimg%>.jpg" /><div class="word_Red2"></div></td>
            <td height="68" align="center"><font color="red"><%= @allwares.find_by_wname(key).wprice%></font></td>
            <td height="68" align="center"><s><%= @allwares.find_by_wname(key).wprice%></s></td>
            <td height="68" align="center"><%=value%></td>
            <td height="68" align="center">
              <div id="itemPrice">
                <%=@allwares.find_by_wname(key).wprice*value%>
              </div>
            </td>
            <td align="center">
<!--              更新-->
<!--              <br/><br/>-->
              <!-- 删除 -->
              <a href="/cart/deleteWare?wname=<%=@allwares.find_by_wname(key).wname%>"> 删除</a>
            </td>
          </tr>
          <tr>
            <td height="5" colspan="6"></td>
          </tr>
          <tr>
            <td colspan="6" class="xLine2">&nbsp;</td>
          </tr>
          <tr>
            <td height="5" colspan="6"></td>
          </tr>
        <% end %>
      <% end %>
      <!-- 循环结束 -->
      <tr>
        <td height="30" colspan="6" align="center"><table width="100%" height="70" border="0" cellpadding="0" cellspacing="1" bgcolor="#E7E6E3">
          <tr>
            <td align="center" bgcolor="#F8F8F8"><table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30%" height="30"><a class="f" href="/wares">继续挑选商品</a>&gt;&gt; <a class="f" href="#">再逛逛暂存架</a>&gt;&gt;</td>
                <td width="20%" align="right"></td>
                <td width="15%" align="right">商品金额总计：</td>
                <td width="15%" align="left"><font color="#EF7512">
                  <div id="totalPrice">
                    <%=@total%>
                  </div>
                </font>                </td>
                <td width="10%" align="center"><label>
                  <%= link_to '结算', new_order_path %>
                </label></td>
              </tr>
              <tr>
                <td height="30">&nbsp;</td>
                <td>&nbsp;</td>
                <td align="right" class="word_Green">
                  <a href="/cart/emptyWare"> 清空购物车</a>
                </td>
                <td align="left"></td>
                <td class="word_Green">&nbsp;</td>
              </tr>
<!--              <tr>-->
<!--                <td height="30">&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td align="right" class="word_Green">-->
<!--                  <a href="/cart/checkout"> Check out</a>-->
<!--                </td>-->
<!--                <td align="left"></td>-->
<!--                <td class="word_Green">&nbsp;</td>-->
<!--              </tr>-->
            </table></td>
          </tr>
        </table></td>
      </tr>

    </table></td>
  </tr>
</table>
