<p id="notice"><%= notice %></p>

<p>
  <strong>Uname:</strong>
  <%= @user.uname %>
</p>

<p>
  <strong>Upwd:</strong>
  <%= @user.upwd %>
</p>

<p>
  <strong>Umail:</strong>
  <%= @user.umail %>
</p>

<p>
  <strong>Uphone:</strong>
  <%= @user.uphone %>
</p>

<p>
  <strong>Uadress:</strong>
  <%= @user.uadress %>
</p>

<p>
  <strong>Uimpower:</strong>
  <%= @user.uimpower %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
